html{       /*estilo para la raíz de la página*/
    font-family: "Roboto", sans-serif;
    background-color: #0160ce;
}

h2{      /*estilo para los títulos*/
    font-family: "Atomic Age", sans-serif;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}

body{   /*estilo para el cuerpo de la página*/
    width: 1100px;
    margin: auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 8px 10px 5px black;
}

blockquote{  /*estilo para la cita de la página*/
    text-align: justify;
    border-top: 1px solid #0160ce;
    border-bottom: 1px solid #0160ce;
    color: #0160ce;
    padding: 10px 30px 0px 30px;
}

cite{   
    padding-left: 30px;
}

figure{
    text-align: center;
}

figcaption{     /*estilo para el pie de figura de la página*/
    color: #0160ce;
    font-size: small;
    padding-right: 160px;
}

#inicio{        /*raya de la parte superior*/
    margin-top: 50px;
    border-bottom: 3px solid #2f00bc;
}

a{      /*estilo para los enlaces de la página*/
    color: #f7e7af;
    font-weight: bold;
}

a:hover{
    color: #ffffff;
}

#enlacefinal{
    padding-left: 80px;
    font-style: italic;
}

footer{     /*estilo para el pie de página*/
    background-color: #2f00bc;
    color: white;
    width: 1100px;
    margin-top: 80px;
    margin-left: -50px;
    margin-bottom: -50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    line-height: 30px;
}