html{       /*estilo para la raíz de la página*/
    font-family: "Roboto", sans-serif;
    background-color: #0160ce;
}

h2{      /*estilo para los títulos*/
    font-family: "Atomic Age", sans-serif;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}

body{   /*estilo para el cuerpo de la página*/
    width: 1100px;
    margin: auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 8px 10px 5px black;
}

blockquote{  /*estilo para la cita de la página*/
    text-align: justify;
    border-top: 1px solid #0160ce;
    border-bottom: 1px solid #0160ce;
    color: #0160ce;
    padding: 10px 30px 0px 30px;
}

cite{   
    padding-left: 30px;
}