html{       /*estilo para la raíz de la página*/
    font-family: "Roboto", sans-serif;
    background-color: #0160ce;
}

h2{      /*estilo para los títulos*/
    font-family: "Atomic Age", sans-serif;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}

body{   /*estilo para el cuerpo de la página*/
    width: 1100px;
    margin: auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 8px 10px 5px black;
}